<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key='binFileName'     value='C:\main\jportal\build\picktester\app\parm\ParamControl.bin' />
    <add key='logFileName'     value='ParamControl.log' />
    <add key='applicationName' value='vlab.ParamControl' />
    <add key='operationName'   value='Application.vlab.ParamControl' />
  </appSettings>
</configuration>