<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotConnect.Express.for.PostgreSQL" version="7.7.804" targetFramework="net40-client" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net40-client" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net40-client" />
  <package id="Oracle.ManagedDataAccess" version="12.1.24160719" targetFramework="net40-client" />
  <package id="SlowCheetah" version="2.5.15" targetFramework="net40-client" />
  <package id="System.Data.SQLite" version="1.0.104.0" targetFramework="net40-client" />
  <package id="System.Data.SQLite.Core" version="1.0.104.0" targetFramework="net40-client" />
  <package id="System.Data.SQLite.EF6" version="1.0.104.0" targetFramework="net40-client" />
  <package id="System.Data.SQLite.Linq" version="1.0.104.0" targetFramework="net40-client" />
</packages>