<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key='binFileName'     value='C:/vlab/build/dbportal/puffin/gen/pickle/GroupMaint.bin' />
    <add key='logFileName'     value='ParamControl.log' />
    <add key='applicationName' value='vblab.ParamControl' />
    <add key='operationName'   value='Application.vblab.ParamControl' />
    <add key='urlName'         value='http://qa-treasurysec.it.nednet.co.za/securityPrinciple/SecurityPrincipleWebService.asmx' />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NtlmBinding" maxBufferSize="15536000" maxReceivedMessageSize="15536000" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxStringContentLength="99999999" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://qa-treasurysec.it.nednet.co.za/securityPrinciple/SecurityPrincipleWebService.asmx" contract="SecurityPrincipleWebService.SecurityPrincipleWebServiceSoap" binding="basicHttpBinding" bindingConfiguration="NtlmBinding" />
    </client>
  </system.serviceModel>  
</configuration>